body {
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

.hero-image {
    height: 400px;
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    background-color: black;

}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;



}

.product-title {
    text-align: center;
    font-size: 32px;
    margin: 40px 0 20px;
    color: #333;
    position: relative;
}

.product-title::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #28a745;
    margin: 10px auto;
}

.product-grid {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.product-container {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

.product-grid::-webkit-scrollbar {
    width: 10px;
    /* Kích thước thanh cuộn */
}

.product-grid::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

.product-grid::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}


.product {
    flex: 0 0 auto;
    width: 250px;
    margin-right: 20px;
    scroll-snap-align: start;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product h3 {
    margin-top: 10px;
    font-size: 16px;
    height: 40px;
}

.product h3 a {
    color: #333;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.product h3 a:hover {
    color: #007bff;
    text-decoration: underline;
}

.product p {
    color: #666;
    font-size: 14px;
    height: 40px;
}

.product .price {
    font-weight: bold;
    color: #28a745;
    font-size: 16px;
}

.product .discount {
    color: #dc3545;
    font-weight: bold;
    font-size: 14px;
}

.product-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.btn-detail a {
    color: white;
    text-decoration: none;
}


.product-buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
}

.product-buttons button:hover {
    background-color: #0056b3;
}

.product-hot-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.product-hot {
    display: none;
}

.product-hot.show {
    display: block;
}

.product-hot-controls {
    text-align: center;
    margin-top: 20px;
}

.product-hot-controls button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.product-hot-controls button:hover {
    background-color: #218838;
}

.news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(450px, auto);
}

.news-item {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 16px;
    height: 100%;
    justify-content: space-between;
}

.news-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-item h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.news-item p {
    font-size: 14px;
    color: #666;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.news-item .read-more {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    position: absolute;
    bottom: 7px;
    right: 7px;
    transition: background-color 0.3s ease;
}

.news-item .read-more:hover {
    background-color: #0056b3;
}

.brand-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    max-width: 100%;
}

.brand-logo {
    max-width: 180px;
    height: auto;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.brand-logo:hover {
    opacity: 1;
}