body {
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

main {
    padding: 20px 40px;
}

main img{
    width: 100%;
    height: 700px;
}

h1 {
    color: #333;
    margin-top: 0;
}

h2 {
    color: #555;
}

ul, ol {
    padding-left: 40px;
}

ul li, ol li {
    margin: 10px 0;
}

section {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}